@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.green-tree-service {
    display: flex;
    width: 50%;
    align-items: center; /* Center vertically */
    margin: 10px;
    margin: 0;
}

.green-tree-service img {
    height: 70px;
    width: 70px;
    margin: 0px 10px;
}

.green-tree-service h1 {
    font-size: 3em;
    margin-left: 300px;
    color: #4E3524;
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.nav-menu {
    display: flex;
    width: 50%;
    height: 100%;    
}

.nav-link {
    list-style-type: none;
    width: 20%;
    height: 100%;
    text-align: center;
    text-decoration: none;

    font-size: 1.5em;
    color: #4E3524;
    
    border-left: 1px rgb(56, 56, 56) solid;
    padding: 25px 0px;
}

.nav-link:hover {
    background-color: #6ba33c;
    transition-duration: 0.5s;
}

.cover-picture {
    background-image: url("Assets/coverPicture.jpg");
    background-size: cover;
    height: 830px;
    border: 1px rgb(56, 56, 56) solid;
}

.cover-info {
    margin-right: 55%;
    margin-top: 10%;
    margin-left: 5%;
    padding: 5% 0%;
    border-radius: 10px;
    

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #6ba33c;
}

.cover-info h1 {
    color: #2b1a0e;
    font-size: 3em;
    -webkit-text-stroke: 1px black; /* set the outline style for Chrome, Safari and Opera */
}

.cover-info a {
    text-decoration: none;
    font-size: 2em;
    margin-top: 15px;
    padding: 5px 30px;
    border-radius: 20px;
    background-color: #4c7828;
    color: white;
    border: 2px black solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.cover-info a:hover {
    background-color: #3c601f;
    transition: 0.5s;
}

.services {
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.services h2 {
    color: white;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}

.services ul {
    margin: 30px 0px 30px 0px;
}
.services ul li {
    color: white;
    list-style-type: disc;
    font-size: 1.2em;
    font-weight: 300;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-list div {
    margin: 20px 200px;
}

.quote {
    display: flex;
}

.column {
    height: 500px;
    width: 50%;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.column a {
    width: 17%;
    height: 50px;
    color: white;
    background-color: #3c601f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    /* top left bottom right */
    margin: 30px auto 30px auto;
}

.column a:hover {
    background-color: #304d19;
    transition: 0.5s linear;
    font-weight: 700;
}

.column h1 {
    font-size: 2em;
}

.column p {
    font-size: 1em;
}

.column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.about {
    display: flex;
}

.about-text {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 50%;
    text-align: start;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-text div {
    margin-top: 20px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.image-item {
    height: 500px;
  }

.image-item img {
    height: 100%;
    width: 100%; 
    object-fit: cover;

}

.third-item {
    object-position: top;
}

.certifications {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 20px solid #507b2d;
}

.certifications div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.certifications div h2 {
    color: white;
}

#first-certification {
    background-color: #486e29;
}

#second-certification {
    background-color: #507b2d;
}

#third-certification {
    background-color: #669c3a;
}

.contact {
    background-color: #22311d ;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contact a {
    margin: 80px auto 20px auto;
    padding: 15px 100px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.5em;
    background-color: #609237;
    color: white;
    text-decoration: none;
}

.contact a:hover {
    background-color: #3c601f;
    transition: 0.5s;
}

.contact p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 40px;
}
.contact form {
    display: flex;
    flex-direction: column;
    width: 850px;
    /* max-width: 90%; Not sure how to make it more mobile */
    margin-left: auto;
    margin-right: auto;
}

.contact form input, textarea {
    margin: 10px auto;
    width: 100%;
    height: 30px;
    background-color: #486e29;
    border: none;
}

::placeholder {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 100;
}

input[type=text], textarea {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: 1em;
}
  
#send-button {
    color: white;
    font-weight: bold;
    background-color: rgb(124, 183, 61);
    margin-bottom: 40px;
}

#send-button:hover {
    background-color: rgb(105, 154, 54);
    transition: 0.5s;
}

#send-button:active {
    background-color: rgb(80, 121, 36);
    transition: 0.5s;

}
